/* MAIN CSS FILE FOR PROJECT */

svg {
  display:block;
}

#barInfo{
  position: absolute;
  padding: 0 10px;
  font: 12pt Sans-Serif;
  pointer-events: none;
  background: white;
  border: 1px solid black;
}

#barInfo.hidden {
  display: none;
} 

.bars.selected {
  stroke:black;
} 